body {
  overflow-x: hidden; }
  body .row {
    margin-left: 0;
    margin-right: 0; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

p {
  margin: 0; }

.navbar {
  background-color: #58604c;
  font-size: 1.5rem; }
  @media only screen and (min-width: 992px) {
    .navbar {
      font-size: 1.3rem;
      padding: 0rem 0; } }
  .navbar .joystick {
    font-size: 2rem;
    color: #ddd;
    text-decoration: none; }
    .navbar .joystick h1 {
      margin: 0; }
    @media only screen and (min-width: 992px) {
      .navbar .joystick {
        font-size: 3rem; } }
    .navbar .joystick:hover {
      color: #ddd; }
  @media only screen and (min-width: 992px) {
    .navbar .nav-item {
      align-self: center;
      padding: 0 0.5rem; } }
  .navbar .nav-item .nav-link {
    padding: 0.2rem;
    color: #ddd; }
    .navbar .nav-item .nav-link:hover {
      text-decoration: underline; }
  .navbar .nav-item .dropdown-menu {
    background-color: #6d775e;
    border: none;
    width: 10%;
    margin-bottom: 0.5rem; }
    .navbar .nav-item .dropdown-menu .dropdown-item {
      color: #FAFAFA; }
      .navbar .nav-item .dropdown-menu .dropdown-item:active {
        background-color: #58604c;
        color: #FAFAFA; }
      .navbar .nav-item .dropdown-menu .dropdown-item:focus, .navbar .nav-item .dropdown-menu .dropdown-item:hover {
        background-color: #58604c; }

@media only screen and (min-width: 992px) {
  .noBack {
    background: none; } }

.actual {
  background-color: #6d775e;
  border-radius: 2rem; }

.navbar-toggler-icon {
  background-image: url(../images/menu.png); }

.redes {
  background-color: #58604c;
  margin: 0;
  padding: 0; }
  .redes img {
    padding: 0.5rem 0;
    width: 2.5rem; }
    @media only screen and (min-width: 992px) {
      .redes img {
        width: 3rem; } }

#myBtn {
  visibility: hidden;
  display: none;
  position: fixed;
  bottom: 10px;
  right: 20px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: rgba(109, 51, 51, 0.8);
  padding: 0.5rem;
  border-radius: 50%; }
  @media only screen and (min-width: 992px) {
    #myBtn {
      visibility: visible; } }
  #myBtn img {
    width: 3rem; }

.landing {
  background-image: url(../images/joystickPhoneLan2.jpg);
  height: 90vh;
  background-size: cover;
  background-position: center;
  background-position-y: top; }
  @media only screen and (min-width: 992px) {
    .landing {
      background-image: url(../images/joysitckLan.png);
      height: 100vh;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat; } }

.actualizacion {
  background-color: #1e1a1b;
  color: #FAFAFA;
  border: solid 0.2rem rgba(255, 255, 255, 0.1);
  font-size: 1.5rem;
  height: 18rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around; }
  .actualizacion h2 {
    font-size: 2.2rem; }
  .actualizacion a {
    font-size: 1.5rem;
    border-radius: 0.5rem;
    padding: 0.3rem 0.5rem;
    text-decoration: none;
    align-self: center;
    background-color: none;
    border: solid 0.1rem #FAFAFA;
    color: #FAFAFA; }
    .actualizacion a:hover {
      background-color: #FAFAFA;
      color: #1e1a1b; }

.suscribirse {
  background-color: #6d3333;
  color: #FAFAFA;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 18rem; }
  .suscribirse h2 {
    font-size: 2.2rem; }
  .suscribirse input {
    padding: 0 0.5rem;
    width: 20rem;
    background-color: #ddd; }
  .suscribirse button {
    font-size: 1.2rem;
    border-radius: 0.5rem;
    padding: 0.3rem 0.5rem;
    text-decoration: none;
    align-self: center;
    background-color: none;
    border: solid 0.1rem #FAFAFA;
    color: #FAFAFA;
    color: #FAFAFA;
    background: none; }
    .suscribirse button:hover {
      background-color: #FAFAFA;
      color: #1e1a1b; }
    @media only screen and (min-width: 992px) {
      .suscribirse button {
        margin-top: 0; } }

.cafecito {
  padding: 0;
  display: none;
  position: fixed;
  bottom: 2.5rem;
  right: 3rem;
  z-index: 99;
  border: none;
  outline: none; }
  .cafecito div {
    padding: 0.4rem; }

.musicaBody {
  background-color: #1e1a1b; }

.menuMusica {
  padding: 0;
  list-style: none;
  background-color: #262525;
  height: 5rem;
  font-size: 1.4rem; }
  @media only screen and (min-width: 576px) {
    .menuMusica {
      font-size: 2rem;
      height: 6rem; } }
  .menuMusica li a {
    text-decoration: none;
    color: #FAFAFA; }
    .menuMusica li a:hover {
      text-decoration: underline; }

.separador {
  color: #FAFAFA;
  text-align: center;
  font-size: 2.8rem; }

.musicaImgConteiner {
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 3rem; }
  .musicaImgConteiner .musicaImg {
    width: 20rem;
    align-self: center; }
  .musicaImgConteiner .musicaBtn {
    display: flex;
    justify-content: center;
    margin-top: 1rem; }
    .musicaImgConteiner .musicaBtn button {
      background-color: black;
      border: none;
      border-radius: 1rem;
      margin: 0 2.5rem; }
      .musicaImgConteiner .musicaBtn button:hover {
        background-color: #FAFAFA;
        transition: all 0.5s; }
      .musicaImgConteiner .musicaBtn button a {
        display: flex;
        justify-content: center;
        padding: 0; }

.musicaImg {
  position: relative;
  width: 10rem;
  display: flex; }
  .musicaImg img {
    align-self: center;
    display: block;
    width: 100%; }
  .musicaImg .overlay {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: rgba(109, 51, 51, 0.7);
    display: flex;
    align-items: center;
    justify-content: space-around;
    opacity: 0;
    transition: all 0.25s ease; }
    .musicaImg .overlay:hover {
      opacity: 1; }
    .musicaImg .overlay .overlayText {
      width: 100%;
      color: #FAFAFA;
      font-size: 2.5rem;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      text-align: center; }
    .musicaImg .overlay .overlayIcons {
      width: 12rem;
      display: flex;
      justify-content: space-around; }
      .musicaImg .overlay .overlayIcons a {
        width: 5rem; }

.galeriaBody {
  background-color: #1e1a1b; }

.galeriaImg {
  position: relative;
  width: 30rem;
  display: flex; }
  .galeriaImg img {
    align-self: center;
    display: block;
    width: 100%; }
  .galeriaImg .overlay {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: rgba(1, 1, 1, 0.6);
    display: flex;
    align-items: center;
    justify-content: space-around;
    opacity: 0;
    transition: all 0.25s ease; }
    .galeriaImg .overlay:hover {
      opacity: 1; }
    .galeriaImg .overlay .overlayText {
      width: 100%;
      color: #FAFAFA;
      font-size: 2.5rem;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      text-align: center; }
    .galeriaImg .overlay .overlayIcons {
      width: 12rem;
      display: flex;
      justify-content: space-around; }
      .galeriaImg .overlay .overlayIcons a {
        width: 5rem; }
  .galeriaImg:hover img {
    filter: blur(1px); }

.contactoBody {
  background-color: #1e1a1b; }

.formContacto {
  margin-top: 3rem;
  color: #FAFAFA;
  display: flex;
  justify-content: center;
  font-size: 1rem;
  height: 85vh; }
  .formContacto .textInfo {
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
    width: 50vw; }
    .formContacto .textInfo input {
      padding: 0 0.5rem;
      background-color: #2c2627;
      color: #ddd; }
  .formContacto .textMsg {
    display: flex;
    flex-direction: column; }
    .formContacto .textMsg textarea {
      background-color: #a39498;
      color: #ddd;
      height: 10rem;
      width: 55vw;
      padding: 0.5rem;
      background-image: url(../images/correo2.jpg);
      background-position: center;
      background-size: cover; }
  .formContacto .contactoBotones {
    display: flex;
    justify-content: flex-end; }
    .formContacto .contactoBotones button {
      margin: 0.5rem 0 0 0.5rem;
      font-size: 0.8rem;
      border-radius: 0.5rem;
      padding: 0.3rem 0.5rem;
      text-decoration: none;
      align-self: center;
      background-color: none;
      border: solid 0.1rem #FAFAFA;
      color: #FAFAFA;
      color: #FAFAFA;
      background: none; }
      .formContacto .contactoBotones button:hover {
        background-color: #FAFAFA;
        color: #1e1a1b; }
  @media only screen and (min-width: 992px) {
    .formContacto {
      margin-top: 2rem;
      height: 90vh;
      font-size: 1.2rem; }
      .formContacto .textInfo {
        margin: 2rem 0;
        width: 30vw; }
      .formContacto .textMsg textarea {
        width: 35vw;
        height: 30vh; }
      .formContacto .contactoBotones button {
        font-size: 1.5rem; } }

.bandaBody {
  background-color: #1e1a1b; }

.bandaBoton {
  font-size: 1.2rem;
  border-radius: 0.5rem;
  padding: 0.3rem 0.5rem;
  text-decoration: none;
  align-self: center;
  background-color: none;
  border: solid 0.1rem #FAFAFA;
  color: #FAFAFA; }
  .bandaBoton:hover {
    background-color: #FAFAFA;
    color: #1e1a1b; }

.bio {
  color: #FAFAFA;
  font-size: 1.5rem; }

.bioImg {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../images/joystick2.png);
  background-size: cover;
  background-position: center; }

.bandaLan {
  background-image: url(../images/joystickLan2.jpg);
  background-size: cover;
  background-position: center; }

.semiBg {
  color: #FAFAFA;
  background: rgba(1, 1, 1, 0.7);
  display: flex;
  flex-direction: column;
  justify-content: space-around; }

.integrante {
  display: flex;
  align-items: center; }

.bandaDesc {
  text-align: center; }
  .bandaDesc h2 {
    font-size: 1.8rem; }
  .bandaDesc p {
    font-size: 1rem; }
  .bandaDesc img {
    margin-top: 0.5rem;
    width: 3rem; }
  @media only screen and (min-width: 576px) {
    .bandaDesc h2 {
      font-size: 3rem; }
    .bandaDesc p {
      font-size: 2rem; } }

.bandaImg {
  position: relative;
  width: 25rem;
  display: flex;
  margin: 1.5rem; }
  .bandaImg img {
    align-self: center;
    display: block;
    width: 100%; }
  .bandaImg .overlay {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: rgba(109, 51, 51, 0.6);
    display: flex;
    align-items: center;
    justify-content: space-around;
    opacity: 0;
    transition: all 0.25s ease; }
    .bandaImg .overlay:hover {
      opacity: 1; }
    .bandaImg .overlay .overlayText {
      width: 100%;
      color: #FAFAFA;
      font-size: 2.5rem;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      text-align: center; }
    .bandaImg .overlay .overlayIcons {
      width: 12rem;
      display: flex;
      justify-content: space-around; }
      .bandaImg .overlay .overlayIcons a {
        width: 5rem; }
  .bandaImg .overlay {
    margin: 0; }
