.errorText {
    @include media ($lg) {
        margin: 3rem 6rem;
        font-size: 1.5rem;
        line-height: 3rem;
        h1 {
            font-size: 3rem;
        }
    }
    text-align: center;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.errorLan {
    height: 100vh;
    background-image: url(../images/404image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    @include media ($lg) {
        background-position: unset;
    }
}