.musicaBody {
    background-color: nth($colores, 2);
}

.menuMusica {
    list-style: none;
    background-color: nth($colores, 4);
    height: 5rem;
    font-size: 1.4rem;
    @include media ($sm) {
        font-size: 2rem;
        height: 6rem;
    } 
    li a {
        text-decoration: none;
        color: nth($colores, 1);
        &:hover {
            text-decoration: underline;
        }
    }
}

.separador {
    color: nth($colores, 1);
    text-align: center;
    font-size: 2.8rem;
}

.musicaImgConteiner {
    padding: 0;
    display: flex;
    flex-direction: column ;
    justify-content: center;
    margin-bottom: 3rem;
    .musicaImg {
        width: 20rem;
        align-self: center;
    }
    .musicaBtn {
        display: flex;
        justify-content: center;
        margin-top: 1rem;
        button {
            background-color: black;
            border: none;
            border-radius: 1rem;
            margin: 0 2.5rem;
            &:hover {
                background-color: nth($colores, 1);
                transition: all 0.5s;
            }
            a {
                display: flex;
                justify-content: center;
                // padding: 0.5rem 2rem;
                padding: 0;
            }
        }
    }
}

.musicaImg {
    @include overlayedImg (10rem, rgba(nth($colores, 8), 0.7));
}